<footer class="footer bg-dark py-5 mt-auto">
    <div class="container">
        <span class="text-light">All rights given away</span>
        <span class="text-muted"> This text is invisible (on light mode, apparently)</span>
    </div>
</footer>