<%- layout('layouts/boilerplate') %>

<ul>
    <div class="col-6 offset-3 d-grid gap-1 mb-3">
        <h1>HOME</h1>
        <p>Go to: </p>    
        <a class="btn btn-lg btn-outline-secondary" href="/campgrounds">Campgrounds Index</a>
        <a class="btn btn-lg btn-outline-secondary" href="/campgrounds/new">New Campground</a>
        <a class="btn btn-lg btn-outline-secondary" href="/login">Login</a>
        <a class="btn btn-lg btn-outline-secondary" href="/register">Register</a>
    </div>
</ul>